/* StyledAlert.css */
.styled-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336; /* Red background for errors */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: 300px;
    max-width: 90%;
    transition: opacity 0.3s ease-in-out;
    position: relative;
}

.alert-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.alert-message {
    flex: 1;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: #ccc;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: #ffebee;
    width: 100%;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
